.book-details {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.book-details__row {
    display: flex;
}

.book-details__row p,
.book-details__row a {
    margin: 1.5rem 0;
    text-align: left;
    width: 70%;
}

.book-details__row p:nth-child(1) {
    width: 30%;
}